<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Users Management</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1>Matches List</h1>
    <table border="1" class = "table table table-dark table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>First Team Goals</th>
            <th>Second Team Goals</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="matches : ${listOfMatches}">
            <td th:text="${matches.date}"></td>
            <td th:text="${matches.firstTeamGoals}"></td>
            <td th:text="${matches.secondTeamGoals}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>